<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#tut0" aria-expanded="false">
            Đây là gì ?
          </a>
        </h4>
      </div>
      <div id="tut0" class="panel-collapse collapse in" role="tabpanel">
        <div class="panel-body">
            <p>Đây là trang web hỗ trợ tự động <span class="label label-primary">lấy link download</span> và <span class="label label-primary">xem trực tiếp</span> từ những website phổ biến. Hiện tại hỗ trợ:</p>
            <p><b>File hosting:</b> fshare.vn, 4share.vn, tenlua.vn, upfile.vn, mediafire.com, 4shared.com, drive.google.com, dropbox.com, ge.tt, github.com, openload.co, zippyshare.com</p>
            <p><b>Video:</b> youtube.com, dailymotion.com, vimeo.com, tevi.com, tv.zing.vn, v.nhaccuatui.com,</p>
            <p><b>Nhạc:</b> mp3.zing.vn, nhaccuatui.com, nhacso.net, soundcloud.com, deezer.com</p>
            <p><b>Phim:</b> aphim.co, phimmoi.net</p>
            <p><b>Tài liệu:</b> *.violet.vn, slideshare.net, tailieu.vn, scribd.com, vndoc.com</p>
            <p><b>Ảnh:</b> flickr.com, gfycat.com, imgur.com</p>
            <p><b>Link rút gọn:</b> adf.ly, linkshrink.net, goo.gl, tinyurl, 7.ly, admy.link, cur.lv, cutt.us, good.ly, is.gd, ity.im, j.gs, lynk.my, ow.ly, ph.dog, q.gs, qr.net, s.id, tr.im, u.to, v.gd, zip.net</p>
            <p><b>và còn nhiều website khác nữa đang cập nhật <i class="fa fa-smile-o" aria-hidden="true"></i></b></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#tut1" aria-expanded="false">
            Có mất phí không ?
          </a>
        </h4>
      </div>
      <div id="tut1" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            <p><h4>Hệ thống hoàn toàn miễn phí</h4></p>
            <p>Nhưng nếu các bạn muốn đóng góp để duy trì sự ổn định thì hãy <a ui-sref="donate">Donate</a></p>
        </div>
      </div>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#tut2" aria-expanded="false">
          Hướng dẫn Getlink
        </a>
      </h4>
    </div>
    <div id="tut2" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Đang cập nhật</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#tut3" aria-expanded="false">
          Hướng dẫn xem video trực tiếp
        </a>
      </h4>
    </div>
    <div id="tut3" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Đang cập nhật</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#tut4" aria-expanded="false">
          Giới hạn
        </a>
      </h4>
    </div>
    <div id="tut4" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <p>Get link: <span class="label label-primary">Không giới hạn</span></p>
        <p>Stream link: <span class="label label-primary">3 link / 30 phút</span></p>
        <br/>
        <p>Hệ thống sẽ tự động đóng chức năng Stream khi cao tải</p>
      </div>
    </div>
  </div>
</div>
