@media (max-width: @screen-sm-min) {
  text-xs-center {
    text-align: center;
  }
}

body {
	background: url('../images/bg.jpg'), repeat;
}

a:hover {
	text-decoration: none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-brand {
	padding-top: 0px;
	height: 70px;
}

.navbar-brand>img {
	height: 70px;
}

nav.navbar.navbar-default {
    background-color: #ffffff;
    min-height: 70px;
}

ul.nav.navbar-nav {
    margin: 7.5px 0px;
}

.footer {
    background-color: #d1ecf3;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -30px 40px #d1ecf3;
    z-index: 9999;
}

.status-host {
    font-size: 16px;
    margin-top: 5px;
	color: #fff; !important;
}

.status-host:hover {
	color: #000;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none;
    border-bottom: 3px solid #8bcde5;
    font-weight: 600;
    color: #196f8e;
}

.download-info {
	margin-top: 60px;
}

.download-info > .jumbotron {
	background-color: #fdfdfd;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888888;
}

.file-info {
	text-align: center;
	border-right: 1px solid #ededed;
}

.file-info > .file-name {
	color: #2c5e87;
	font-weight: bold;
}

.file-info > .file-size {
	font-size: 17px;
}

.file-download {
	text-align: center;
	text-shadow: -1px 2px 10px rgba(150, 150, 150, 1);
}

.file-download > p > a {
	font-weight: bold;
	text-decoration: none;
}

.jumbotron > .file-share {
	text-align: center;
	padding: 30px 0px;
}

.wraper {
	background-color: #ffffff;
	min-height: 200px;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-radius: 0px 0px 7px 7px;
	padding-top: 30px;
}

.wraper2 {
	background-color: #ffffff;
	min-height: 300px;
	border: 1px solid #eaeaea;
	border-radius: 7px;
	padding-top: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}

input[type=text] {
	height: 44px;
	border-radius: 1px;
	border-left: 2px solid green;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #f9f9f9;
	box-shadow: inset 1px 1px 4px 0px #e9e9e9;
	font-size: 16px;
}

.input-password {
	text-align: center;
}

.getlink {
	text-align: center;
	margin: 20px 0px;
}

.loading {
	text-align: center;
}

.btnDownload {
	border-radius: 25px;
	font-weight: bold;
	font-size: 22px;
}

.btnPreview {
	border-radius: 25px;
	margin-left: 10px;
	margin-right: 20px;
	font-weight: bold;
	font-size: 22px;
}

.label-default {
	font-size: 12px;
}

.page-header {
	margin: 0px 0px 0px 30px;
	color: #6b6b6b;
	letter-spacing: 1px;
}

.box {
	padding: 10px 0px 15px 30px;
	border-bottom: 1px solid #fafafa;
}

.box:hover {
	background-color: #f2f2f2;
	border-left: 2px solid green;
}

.box > .filename {
	color: #00617a;
	font-size: 18px;
	white-space: nowrap;
	letter-spacing: 0.2px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.box > .fileinfo {
	margin-top: 5px;
	font-size: 15px;
}

.box > .fileinfo a {
	color: #fff;
}

.donate-header img {
	height: 50px;
	margin: 0px auto;
}

.donate-method {
	margin-bottom: 20px;
	margin-top: 10px;
}

.donate-method img {
	height: 60px;
}

.donate-method img:hover, .donate-method .active {
	border: 3px solid green;
}

.modal-footer {
	text-align: center;
}

.status-box {
	text-align: center;
	color: #7f7f7f;
}

.status-box ul li {
	position: relative;
	padding-bottom: 10px;
}

.status-box .status {
	position: absolute;
	top: 0;
	left: 0;
}

.spinner {
    width: 18px;
    height: 18px;
    background-color: #00fa05;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 0.9s infinite ease-in-out;
    animation: sk-scaleout 0.9s infinite ease-in-out;
    position: absolute;
}
.spinner2 {
    width: 18px;
    height: 18px;
    background-color: #ff1f00;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 0.9s infinite ease-in-out;
    animation: sk-scaleout 0.9s infinite ease-in-out;
    position: absolute;
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.preview {
	background-color: #fff;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
}

.preview > .video-content {

}

.preview > .file-share {
	margin-top: 20px;
	padding-bottom: 100px;
}

.video-js {
	width: 100%;
}

#audio-content {
	padding: 15px 0px;
}

.pagination {
	margin: 10px;
}

.pagination>li>a,
.pagination>li>span {
    font-weight: 500;
    color: #5ccdde;
    margin-left: 5px;
    margin-right: 5px;
    border: none!important;
    border-radius: 3px!important;
    background: 0 0
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #5ccdde
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background: 0 0
}

.pagination>li>a:hover {
    background-color: #5ccdde;
    border-color: #5ccdde;
    color: #fff
}

.progress {
    background: rgba(0, 0, 0, .1)
}
.progress,
.progress-bar {
    height: 18px;
    line-height: 18px;
    font-weight: 600
}
.progress-bar.progress-mini,
.progress-mini .progress-bar,
.progress.progress-mini {
    height: 7px;
    line-height: 7px
}
.progress-bar-danger {
    background-color: #de815c
}
.progress-bar-warning {
    background-color: #deb25c
}
.progress-bar-success {
    background-color: #afde5c
}
.progress-bar-info {
    background-color: #5cafde
}
.progress-bar-primary {
    background-color: #5ccdde
}

.label {
	padding: .25em .6em .3em;
}

.badge-danger {
  background-color: #d43f3a;
}
.badge-warning {
background-color: #d58512;
}

.badge-success {
background-color: #398439;
}

.badge-info {
background-color: #269abc;
}

.badge-inverse {
background-color: #333333;
}

.bookmark {
	color: #449D44;
}

.btn-group > .dropdown-menu {
    min-width: 170px;
    padding: 0;
    border-color: #dae0e8;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    display: block;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.btn-group > .dropdown-menu.dropdown-menu-right {
    -webkit-transform-origin: top right;
    transform-origin: top right
}
.dropup .dropdown-menu {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
}
.dropup .dropdown-menu.dropdown-menu-right {
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right
}
.dropdown-menu.open,
.open>.dropdown-menu {
    -webkit-transform: scale(1);
    transform: scale(1)
}
.lt-ie10 .dropdown-menu {
    display: none
}
.btn-ripple,
.dropdown-submenu:hover>.dropdown-menu,
.lt-ie10 .dropdown-menu.open,
.lt-ie10 .open>.dropdown-menu {
    display: block
}
.dropdown-menu>li>a {
    padding: 8px 10px
}
.dropdown-menu i {
    opacity: .2;
    line-height: 17px
}
.dropdown-menu a:hover i {
    opacity: .5
}
.dropdown-menu .divider {
    margin: 3px 0;
    padding: 0!important;
    background-color: #f0f0f0
}
li.dropdown-header {
    padding: 8px 10px;
    color: #454e59;
    background-color: #ebeef2
}

.panel:hover .panel-heading {
	color: #fff;
	background-color: #5cb85c;
}

.alert {
    border-width: 0 2px
}
.alert-danger {
    background-color: #ffd1cc;
    border-color: #ffb8b0
}
.alert-warning {
    color: #e67e22;
    background-color: #ffe4cc;
    border-color: #ffd6b2
}
.alert-warning .alert-link {
    color: #e67e22
}
.alert-success {
    color: #27ae60;
    background-color: #daf2e4;
    border-color: #b8e5cb
}
.alert-success .alert-link {
    color: #27ae60
}
.alert-info,
.alert-info .alert-link {
    color: #3498db
}
.alert-info {
    background-color: #dae8f2;
    border-color: #b8d2e5
}
.alert-dismissable .close {
    top: -5px;
    right: -25px
}
.close {
    text-shadow: none
}
.alert.alert-alt {
    margin: 0 0 2px;
    padding: 5px;
    font-size: 12px;
    border-width: 0 0 0 2px
}
.alert.alert-alt small {
    opacity: .75;
    filter: alpha(opacity=75)
}
.alert-alt.alert-dismissable .close {
    right: 0
}
.alert-alt.alert-dismissable .close:hover {
    color: #fff
}
.alert-danger.alert-alt {
    border-color: #e74c3c
}
.alert-warning.alert-alt {
    border-color: #e67e22
}
.alert-success.alert-alt {
    border-color: #27ae60
}
.alert-info.alert-alt {
    border-color: #3498db
}

.panel-heading.active {
	color: #fff;
	background-color: #5cb85c;
}

.panel-title {
}

.get-result .close {
	display: none;
}

.get-result:hover .close {
	display: block;
}

.file-url {
	line-height: 17px;
	font-size: 13px;
	color: #898989;
}

.dropdown-menu>.active>a>.file-url, .dropdown-menu>.active>a>.file-url:focus, .dropdown-menu>.active>a>.file-url:hover {
    color: #dbdbdb;
}

[uib-typeahead-popup].dropdown-menu {
	padding: 0px;
    margin-top: 0px;
    border-left: 2px solid green;
    border-top-left-radius: 0px;
    max-width: 700px;
}

.instant-view {
	padding: 20px;
}

#result-image {
	position:absolute;
	padding:5px;
	color:#fff;
}

#result-image > img {
	max-width: 220px;
}

.typeahead-header {
	min-height: 14px;
	background-color: #f6f7f9;
	padding: 4px 15px 4px 6px;
	font-weight: bold;
}
